@{
    ViewBag.Title = "Game Play";
}

<h2>Fun</h2>

@if (!ViewBag.gameOver)
{
    <form action="/Fun/FireTop">
        Top: <input type="range" name="position" min="0" max="100" />
        <input type="submit" value="Fire Top" />
    </form>

    <form action="/Fun/FireBottom">
        Bottom: <input type="range" name="position" min="0" max="100" />
        <input type="submit" value="Fire Bottom" />
    </form>
}

<form action="/Fun/Reset">
    <input type="submit" value="New Game" />
</form>

@if (ViewBag.gameOver)
{
    <h2>Game Over!</h2>
    <img src="~/imagesFun/explosion1.png" />
}
else if (ViewBag.victory)
{
    <h2>Victory!</h2>
    <img src="~/imagesFun/victory.png" />
    <h2>Max Score: <b>@ViewBag.score</b></h2>
}
else
{
    <h2>Battle Field</h2>
    for (int row = 0; row < ViewBag.rowsCount; row++)
    {
        for (int col = 0; col < ViewBag.colsCount; col++)
        {
            <img src="/imagesFun/@(ViewBag.fruits[row, col]).png" />
        }
        <br />
    }
    <h2>Score: <b>@ViewBag.score</b></h2>
}