@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One #Team Project<br />
    Blagoevgrad, Bulgaria<br />
    <abbr title="Phone">Phone:</abbr>
    08********
</address>
<div class="row">
    <div class="col-md-3 div_contact">
        <a href="https://softuni.bg/users/profile/show/vessos">
            <img  src="https://softuni.bg/users/profile/showavatar/6688d031-9f31-4e50-8495-88b2739321d7" alt="vessos" height="100">
        </a>
        <br/>
        Вселин Маникатов - <a href="https://softuni.bg/users/profile/show/vessos"><img src="/images/software-university-logo.png" alt="Logo" height="20"></a>
        <p><a class="btn btn-default" href="https://www.facebook.com/profile.php?id=1605495692&ref=br_rs">Folow on Facebook &raquo;</a></p>
    </div>
    <div class="col-md-3 div_contact">
        <a href="https://softuni.bg/users/profile/show/kiso_blg">
            <img src="~/images/kiso.jpg" height="100">
        </a>
        <br/>
            Кръстьо Янев - <a href="https://softuni.bg/users/profile/show/kiso_blg"><img src="/images/software-university-logo.png" alt="Logo" height="20"></a>
            <p><a class="btn btn-default"  href="https://www.facebook.com/krustio.ianev?fref=ts">Folow on Facebook &raquo;</a></p>
</div>
    <div class="col-md-3 div_contact">
        <a href="https://softuni.bg/users/profile/show/borislav9212">
            <img src="~/images/bobi.jpg" height="100"> 
        </a>
        <br/>
        Борислав Николов - <a href="https://softuni.bg/users/profile/show/borislav9212"><img src="/images/software-university-logo.png" alt="Logo" height="20"></a>
        <p><a class="btn btn-default" href="https://www.facebook.com/borislav.nikolov.33?fref=ts">Folow on Facebook &raquo;</a></p>
    </div>
    <div class="col-md-3 div_contact">
        <a href="https://softuni.bg/users/profile/show/vasilvp">
            <img src="~/images/vasil.jpg"  height="100">
        </a>
        <br/>
        Васил Парлъков - <a href="https://softuni.bg/users/profile/show/borislav9212"><img src="/images/software-university-logo.png" alt="Logo" height="20"></a>
        <p><a class="btn btn-default" href="https://www.facebook.com/vparlakov">Folow on Facebook &raquo;</a></p>
    </div>
</div>
<br />
<address>
    <strong>Support:</strong>   <a href="mailto:Kiso@example.com">Kiso@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:B.Nikolov@example.com">B.Nikolov@example.com</a>
</address>