
    @{
        ViewBag.Title = "Contacts";
    }
    <h2>#Team members</h2>

    <address>
        #Team Project<br />
        Blagoevgrad, Bulgaria<br />
        <abbr title="Phone">Phone:</abbr>
        08********
    </address>
    <div class="row">
        <div class="col-md-3 div_contact">
            <div position: absolute; top: 5px; left: 5px; height: 5px;>
                <a href="https://softuni.bg/users/profile/show/vessos"><img src="~/images/vessos.jpg" alt="vessos" height="120"></a>
                <br/>
                <a href="https://softuni.bg/users/profile/show/vessos">vessos</a>
            </div>
            <br/>
            <div class="texts_avatars">
                Вселин Маникатов
                <p>
                    <a href="https://softuni.bg/users/profile/show/vessos"><img src="/images/software-university-logo.png" alt="Logo" height="20" width="80"></a>
                </p>
                <p>
                    <a  class="btn btn-default" href="https://www.facebook.com/profile.php?id=1605495692&ref=br_rs"><img src="~/images/images.png" height="21" /></a>
                
                </p>
            </div>
        </div>
        <div class="col-md-3 div_contact">
            <div position absolute; top 5px; left 5px; height 5px;>
                <a href="https://softuni.bg/users/profile/show/kiso_blg"><img src="~/images/kiso.jpg" height="120"></a>
                <br />
                <a href="https://softuni.bg/users/profile/show/kiso_blg">kiso_blg</a>
            </div>
            <br />
            <div class="texts_avatars">
                Кръстьо <br/> Янев
                <p>
                    <a href="https://softuni.bg/users/profile/show/kiso_blg"><img src="/images/software-university-logo.png" alt="Logo" height="20" width="80"></a>
                </p>
                <p>
                    <a class="btn btn-default" href="https://www.facebook.com/krustio.ianev?fref=ts"><img src="~/images/images.png" height="21" /></a>
                </p>
            </div>
            </div>
        <div class="col-md-3 div_contact">
            <div position absolute; top 5px; left 5px; height 5px;>
                <a href="https://softuni.bg/users/profile/show/borislav9212"><img src="~/images/bobi.jpg" height="120"></a>
                <br />
                <a href="https://softuni.bg/users/profile/show/borislav9212">borislav9212</a>
            </div>
            <br />
            <div class="texts_avatars">
                Борислав Николов
                <p>
                    <a href="https://softuni.bg/users/profile/show/borislav9212"><img src="/images/software-university-logo.png" alt="Logo" height="20" width="80"></a>
                </p>
                <p>
                    <a class="btn btn-default" href="https://www.facebook.com/borislav.nikolov.33?fref=ts"><img src="~/images/images.png" height="21" /></a>
                </p>
            </div>
            </div>
        <div class="col-md-3 div_contact">
            <div position absolute; top 5px; left 5px; height 5px;>
                <a href="https://softuni.bg/users/profile/show/vasilvp"><img src="~/images/vasil.jpg" height="120"></a>
                <br />
                <a href="https://softuni.bg/users/profile/show/vasilvp">VasilVP</a>
            </div>
            <br />
            <div class="texts_avatars">
                Васил Парлъков
                <p>
                    <a href="https://softuni.bg/users/profile/show/borislav9212"><img src="/images/software-university-logo.png" alt="Logo" height="20" width="80"></a>
                </p>
                <p>
                    <a class="btn btn-default" href="https://www.facebook.com/vparlakov"><img src="~/images/images.png" height="21" /></a>
                </p>
            </div>
            </div>
    </div>
    <br />
    <address>
        <strong>Support:</strong>   <a href="mailto:Kiso@example.com">Kiso@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:B.Nikolov@example.com">B.Nikolov@example.com</a>
    </address>
