@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img class="logo" src="~/images/Logo.jpg"  />
</div>
@model List<BlogSharpTeam.Models.Post>
@foreach (var post in Model)
{
    <div class="row">
        <div class="col-md-4">
            <h2>@post.Title</h2>
            <div>
                Posted on <i>@post.Date</i>
                @if (post.Author != null)
                {
                    @:by<i>@post.Author.FullName (@post.Author.UserName)</i>
                }
            </div>
            <p>Post content comes here</p>
        </div>
    </div>
}