
@{
    ViewBag.Title = "DownloadsIndex";
}

<h2>Download</h2>

<div class="row">
    <div class="col-md-3 div_contact">
        <div position absolute; top 5px; left 5px; height 5px;>
            <a href="~/Donloads/Firefox Setup Stub 43.0.4.exe"><img src="~/Donloads/images/firefox.jpg" height="120"></a>
            <br />
            <a href="~/Donloads/Firefox Setup Stub 43.0.4.exe">Firefox</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 div_contact">
        <div position absolute; top 5px; left 5px; height 5px;>
            <a href="~/Donloads/flux-setup.exe"><img src="~/Donloads/images/flux.jpg" height="120"></a>
            <br />
            <a href="~/Donloads/flux-setup.exe">flux</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 div_contact">
        <div position absolute; top 5px; left 5px; height 5px;>
            <a href="~/Donloads/flashplayer_20_ppapi_debug.exe"><img src="~/Donloads/images/flashplayer.jpg" height="120"></a>
            <br />
            <a href="~/Donloads/flashplayer_20_ppapi_debug.exe">flashplayer</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 div_contact">
        <div position absolute; top 5px; left 5px; height 5px;>
            <a href="~/Donloads/GitHubSetup.exe"><img src="~/Donloads/images/github.png" height="120"></a>
            <br />
            <a href="~/Donloads/GitHubSetup.exe">GitHub</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 div_contact">
        <div position absolute; top 5px; left 5px; height 5px;>
            <a href="~/Donloads/ReSharperUltimate.2016.1.2.rar"><img src="~/Donloads/images/resharper.jpg" height="120"></a>
            <br />
            <a href="~/Donloads/ReSharperUltimate.2016.1.2.rar">Resharper</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 div_contact">
        <div position absolute; top 5px; left 5px; height 5px;>
            <a href="~/Donloads/TeamViewer_Setup-lbs.exe"><img src="~/Donloads/images/teamviwer.jpg" height="120"></a>
            <br />
            <a href="~/Donloads/TeamViewer_Setup-lbs.exe">TeamViewer</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 div_contact">
        <div position absolute; top 5px; left 5px; height 5px;>
            <a href="~/Donloads/uTorrent.exe"><img src="~/Donloads/images/utorent.jpg" height="120"></a>
            <br />
            <a href="~/Donloads/uTorrent.exe">uTorrent</a>
        </div>
    </div>
</div>