body {
    background-image:url("/images/background.png");    /*#DCDCDC; #FFFFF0;*/
    background-size: 100%;
    background-repeat:no-repeat;
    background-attachment:fixed;
    padding-top: 50px;
    padding-bottom: 20px;
    text-shadow: 0.5px 0.5px #000000;
    
}
/*date form creation in View/post/create
    <div class="form-group">
            @Html.LabelFor(model=>model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>
*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: inherit;
    padding-right: inherit;
}

.body-content1 {
    padding-left: 15%;
    padding-right:inherit;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.post>h2, .post>div{
    background: #EEA;
    padding: 10px;
    margin: 0;

}

.post>h2 {
    margin-top: 15px;
}

.sidebar {
    border: 2px solid #808080;
    overflow:hidden;
    margin: 0 auto;
    min-height: 739px;
    width: 15%;
    position: fixed;
    display: inline-block;
    background-color:#FFFACD;
    background-size: cover;
    text-align: left;
}

.div_contact{
    border: 2px solid darkgrey;
    padding: 5px;
    background: #cec9c9;
    
}

.texts_avatars{
    position: absolute;
    top: 5px;
    right: 3px;
    width: 100px;
    height: 120px;
    border: 3px solid #cec9c9;
    
}

.logo{
    position: relative;
    width: 100%;
}

.col-md-41{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 33.33333333333333%;
    float: left;
    font-family: 'Baskerville Old Face' ;
    
}

.picasa{
    font-style:#4cff00;
}